<table border="1">
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Comment</th>
    </th>
    <tr>
        <td>1</td>
        <td>one</td>
        <td>1=one</td>
    </tr>
    <tr>
        <td>2</td>
        <td>two</td>
        <td>2=two</td>
    </tr>
    <tr>
        <td>3</td>
        <td>three</td>
        <td>3=three</td>
    </tr>
    <tr>
        <td>4</td>
        <td>four</td>
        <td>4=four</td>
    </tr>
    <tr>
        <td>5</td>
        <td>five</td>
        <td>5=five</td>
    </tr>
    <tr>
        <td>6</td>
        <td>six</td>
        <td>6=six</td>
    </tr>
    <tr>
        <td>7</td>
        <td>seven</td>
        <td>7=seven</td>
    </tr>
    <tr>
        <td>8</td>
        <td>eight</td>
        <td>8=eight</td>
    </tr>
    <tr>
        <td>9</td>
        <td>nine</td>
        <td>9=nine</td>
    </tr>
</table>